#root {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}


.navbar, footer {
  height: 111px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.navbar img {
  width: 60px;
  height: 60px;
  margin-right: 1rem;
}
.navbar h1 {
  font-size: 2rem;
  font-weight: 500;
}

.form-field {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-width: 150px;
  max-width: 100%;
  padding: 2rem 0 1em;
  /* border: 1px solid #ccc; */
}
.form-field input {
  flex-grow: 1;
  height: 2.5em;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.form-field input::placeholder {
  color: #6B7280;
}
.form-field button {
  height: 2.5em;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 6px;
  color: #FAFAF8;
  background-color: #141413;
  cursor: pointer;
  border: none;
}
main {
  flex: 1;
  max-width: 950px;
  width: 100%;
  padding: 2rem;
  margin: 0 auto;
}

.ingredient-box{
  padding: 2em 0;
}
.ingredient-box h2 {
  font-size: 2.5rem;
  color: #141413;
  font-weight: 500;
}
ul {
  padding: 0 1em;
  font-size: 1.2rem;
  color: #475467;
  font-weight: 400;
}
ul li {
  position: relative;
  border-top: 1px solid #ccc;
}


/* get recipe box
--------------------------------- */
.get-recipe-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 8px;
  padding: 1em;
  background-color: #F0EFEB;
  line-height: 1.2;
  font-weight: 500;
  color: #141413;
  margin-bottom: 2em;
} 
.left {
  flex-grow: 1;
}
h3 {
  font-size: 1.5em;
  font-weight: 600;
}
.get-recipe-box p {
  color: #6B7280;
  margin-top: 1em;
}
.get-recipe-box button {
  height: 2.5em;
  min-width: 6em;
  padding: 0 0.5em; 
  font-size: 1rem;
  font-weight: 600;
  border-radius: 6px;
  color: #FAFAF8;
  background-color: #D17557;
  cursor: pointer;
  border: none;
  margin-right: 2em;
}
.suggested-recipe-container p {
font-size: 1.3em;
margin: 0.5em 0;
}
strong {
  font-size: 1.3em;
  line-height: 1.5em;
}
.ai-food {
  font-size: 1em;
}
ol {
  margin: 0 2em;
  font-weight: 500;
  line-height: 1.8em;
}

.suggested-recipe-container {
  color: #475467;
  line-height: 28px;
  font-size: 1.125rem;
  font-weight: 400;
}

.suggested-recipe-container ul li, .suggested-recipe-container ol li {
  margin-bottom: 8px;
}

.spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #141413;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

ul li  span {
  cursor: pointer;
  position: absolute;
  right: 5em;
}